<!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"-->
<button class="chat-link  lobby-helpdesk" type="button" id="dropdownMenuButton" (click)="openHelpdesk()">
  <!--<span class="chat-icon"><img src="assets\images\chat-icon.png" class="img-fluid"></span><span>Help Desk</span>-->
</button>
<div class="dropdown-menu card-2">
  <div class="card-header d-flex align-items-center">
    <a href="javascript:void(0);" class="">
      <svg xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           width="16px" height="15px">
        <path fill-rule="evenodd" fill="rgb(5, 5, 5)"
              d="M15.727,13.495 L14.316,14.837 L8.106,9.010 L2.105,14.837 L0.741,13.494 L6.916,7.499 L0.741,1.505 L2.105,0.162 L8.107,5.989 L14.316,0.163 L15.727,1.505 L9.338,7.500 L15.727,13.495 Z" />
      </svg>
    </a>
    <h5 class="card-title ml-2 mb-0">Help DEsk</h5>
  </div>
  <div class="card-body">

  </div>
  <div class="card-footer">
    <div class="input-group ">
      <input type="text" class="form-control" placeholder="Your message">
      <div class="input-group-append">
        <button class="btn btn-none" type="button">
          <svg xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               width="22px" height="21px">
            <path fill-rule="evenodd" fill="rgb(0, 0, 0)"
                  d="M1.032,3.391 C0.805,2.824 0.827,2.188 1.093,1.639 C1.615,0.562 2.912,0.112 3.989,0.634 L20.341,8.548 C20.854,8.796 21.249,9.238 21.437,9.776 L3.586,9.776 L1.032,3.391 ZM3.586,11.221 L21.437,11.221 C21.249,11.760 20.854,12.202 20.341,12.450 L3.989,20.367 C3.693,20.510 3.369,20.584 3.041,20.584 C2.769,20.582 2.500,20.530 2.248,20.430 C1.133,19.987 0.589,18.723 1.032,17.608 L3.586,11.221 Z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
