ol.poll-answer-list {
    display: block !important;
    padding-left: 0 !important;
    margin-bottom: 0;
}

ol.poll-answer-list li input + label {
    cursor: pointer;
}
ol.poll-answer-list li label {
    width: 100%;
    padding: .5em 1.25em .5em 2.1em;

    font-family: "Calibri";
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.9em;

    cursor: pointer;
    letter-spacing: .05em;

    color: rgba(0, 0, 0, 1);
    border: 2px solid rgba(191, 137, 69, 1);
    border-radius: 5px;
    background-color: transparent !important;
}
ol.poll-answer-list li input:checked + label {
    color: #fff;
    background-color: rgba(191, 137, 69, 1) !important;
}
ol.poll-answer-list li input {
    position: absolute;

    opacity: 0;
}
ol.poll-answer-list li {
    position: relative;

    display: block !important;
    width: 100%;
}

ol.poll-answer-list li {
    display: list-item !important;

    list-style-type: none;

    counter-increment: note-counter;
}
ol.poll-answer-list li label::before {
    position: absolute;
    top: .95em;
    left: 1.05em;

    font-size: 1em;
    font-weight: bold;
    line-height: 1em;

    content: counter(note-counter)".";
    text-align: left;
}
ol li label {
    position: relative;
}
/*ol li label:before{
    position: absolute;
    top: 0;
    left: 19px;
    top: 13px;
}*/
/*ol li:nth-child(1) label:before{
    content: "1.";
}
ol li:nth-child(2) label:before{
    content: "2.";
}
ol li:nth-child(3) label:before{
    content: "3.";
}
ol li:nth-child(4) label:before{
    content: "4.";
}*/

/*  */

/* 
.last-result ol.poll-answer-list  label {
    width: 100%;
    padding: 13px 20px 13px 20px;

    font-family: "Calibri";
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;

    cursor: pointer;
    letter-spacing: .05em;

    color: rgba(0, 0, 0, 1);
    border: 2px solid rgba(191, 137, 69, 1);
    border-radius: 5px;
    background-color: transparent !important;
}
 */
.poll-result-declared ol.poll-answer-list  label {
    padding: 0 0 0 1em;

    border: 0;
}

.poll-result-declared ol.poll-answer-list  label:before {
    top: .44em;
    left: 0;
}

.poll-result-declared ol.poll-answer-list  label .badge-secondary {
    float: right;

    font-family: "Calibri";
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;

    color: #000;
    background: none;
}
.poll-result-declared ol.poll-answer-list  label span:first-child {
    float: left;
    max-width: 65%;
    padding-top: .45em;

    line-height: 1;
}
.pollstyle{
	right: 30%;
	
}

@media only screen and (max-width : 820px) {
.pollstyle{
	right: 0%;	
}
}